body{
    background-color: black;
    text-align: center;
}
div{
    position: relative;
}
.greetings {
   font-size: 50px;
   top: 200px;
}
.greetings > span{
    font-size: 80px;
    color: aqua;
    animation: glow 2.5s ease-in-out infinite;
}
@keyframes glow{
    0%, 100%{
        color: white;
        text-shadow: 0 0 12px aqua, 0 0 50px aqua,0 0 100px aqua;
    }
    10%, 90%{
        color: black;
        text-shadow: none;
    }
}
.greetings > span:nth-child(2){
    animation-delay: .2s;
}
.greetings > span:nth-child(3){
    animation-delay: .4s;
}
.greetings > span:nth-child(4){
    animation-delay: .6s;
}
.greetings > span:nth-child(5){
    animation-delay: .8s;
}
.greetings > span:nth-child(6){
    animation-delay: 1s;
}
.description{
    color: white;        
    top: 210px;
}
.botones{
    padding: 9px;
    border-radius: 80px;
    background-color: transparent;
    border: none;
}
.botones a{
    padding: 9px;
    background-color: blue;
    border-radius: 80px;
    -webkit-border-radius:80px;
    -moz-border-radius:80px;
    -ms-border-radius:80px;
    -o-border-radius:80px;
}
.botones a:focus{
    background-color: aqua;
}
.button{
    top: 220px;
}